body {
    background-color: red;
}
nav {
    background-color: turquoise;
    text-align: center
}
aisle {
    background-color: turquoise;
}
h1 {
    background-color: yellow;
    padding: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h2 {
    background-color: deepskyblue;
    text-align: center
}
h3 {
    background-color: deepskyblue;
    text-align: center
}
p {
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
div {
    background-color: white;
    text-align: center;
    font-size: larger
}
footer {
    background-color: white;
    text-align: center;
    font-size: larger
}
